{% extends 'templates/app.twig' %}
{% block content %}

    {% include 'templates/partials/navegacion.twig' %}

    <body><!-- HEADER-->

        <div id="wrapper-content">
            <!-- PAGE WRAPPER-->
            <div id="page-wrapper">
                <!-- MAIN CONTENT-->
                <div class="main-content">
                    <!-- CONTENT-->
                    <div class="content">
                        <!-- SLIDER BANNER-->
                        <div class="section slider-banner-02">
                            <div class="container">
                                <div class="slider-banner-wrapper">
                                   <h1 data-wow-delay="1s" class="main-title wow fadeInUp">Bienvenido al </br> centro veterinario Mr. Vet</h1>
                                    <div class="group-button">
                                        <a href="{{ path_for('registro') }}"> <button data-wow-delay="1.3s" data-wow-duration="0.8s" class="btn btn-transition-2 wow fadeInLeft" ><span>Registrarse</span></button></a>
                                        <a href="{{ path_for('login') }}">  <button data-wow-delay="1.3s" data-wow-duration="0.8s" class="btn btn-green wow fadeInRight" ><span>Iniciar sesión</span></button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- BUTTON BACK TO TOP-->
            <div id="back-top"><a href="#top" class="hide"><i class="fa fa-angle-double-up"></i></a></div>
        </div>                   

        {% include 'templates/partials/footer.twig' %}
        
    </body>
{% endblock content %}
